* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1604593171462-db894e54a1a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGRpYnVqb3N8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 3px rgba(250, 142, 1, 0.87);
    margin-top: 30px;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.inicio {
    position: sticky;
    z-index: 3;
    top: 0;
}

.registro {
    display: flex;
    justify-content: space-evenly;
    background-color: #deb887;
    opacity: 0.9;
}

.login-reg {
    margin: 25px 50px 25px 50px;
    color: #ffe4c4;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    font-size: 18px;
    background-color: #deb887;
    text-transform: uppercase;
    width: 80px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    border: 2px solid #ffe4c4;
    border-radius: 3px;
}

.login-reg:hover {
    background-color: #fa8e01de;
}

.banner {
    text-align: center;
    text-shadow: 1px 1px 3px rgba(250, 142, 1, 0.733);
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: oblique;
    margin-top: 25px;
}

.ver-carrito {
    margin: 25px 50px 25px 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 25px;
    background-color: #deb887;
    border: 2px solid #ffe4c4;
    border-radius: 3px;
}

.ver-carrito:hover {
    background-color: #fa8e01de;
}

.opciones-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 30px 50px 80px;
    gap: 20px;
}

.card {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 30px 80px 80px 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 3px;
}

.card h3 {
    background-color: #fa8e01bb;
}

.precio {
    background-color: #fa8e01bb;
    font-size: 22px;
    font-weight: 500;
}

.card button {
    border: 2px solid #ffe4c4;
    border-radius: 3px;
    padding: 12px;
    color: #ffe4c4;
    text-shadow: 2px 2px 4px #000000;
    background-color: #deb887;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    background-color: #fa8e01de;
}

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: black;
    background-color: #deb887;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #fa8e01de;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.tittle {
    align-self: center;
    justify-self: start;
    color: #ffe4c4;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
}

.modal-header-button {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.modal-container>.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
    text-transform: uppercase;
}

.modal-content h3 {
    font-weight: 400;
}

.modal-container>div>img {
    height: 120px;
    width: 120px;
    border-radius: 3px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    margin-top: 20px;
    color: #ffe4c4;
    font-weight: 500;
    background-color: #fa8e01de;
    width: 100%;
}

.pagar {
    margin: 25px 50px 25px 50px;
    color: #ffe4c4;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    font-size: 18px;
    background-color: #deb887;
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    border: 2px solid #ffe4c4;
    border-radius: 3px;
}

.pagar:hover {
    background-color: #fa8e01de;
}

.sumar-prod {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color: #fa8e01de;
}

.restar-prod {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color: #fa8e01de;
}

.delete-prod {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color: #deb887;
    color: #ffe4c4;
    border: 2px solid #ffe4c4;
}

footer {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: black;
    text-shadow: 1px 1px 3px rgba(250, 142, 1, 0.733);
    margin-top: 30px;
    margin-bottom: 30px;
}

.enlaceApi {
    border: 2px solid #ffe4c4;
    border-radius: 3px;
    padding: 10px;
    color: #ffe4c4;
    text-shadow: 2px 2px 4px #000000;
    background-color: #deb887;
    text-transform: lowercase;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.enlaceApi:hover {
    background-color: #fa8e01de;
}

.contacto {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #deb887;
    opacity: 0.9;
}

.contacto img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}